In [1]:
import os
import pandas as pd
from sqlalchemy import create_engine, inspect
from dotenv import load_dotenv

In [2]:
load_dotenv()

USER = os.getenv("POSTGRES_USER")
PASSWORD = os.getenv("POSTGRES_PASSWORD")
PORT = os.getenv("POSTGRES_PORT")
HOST = os.getenv("HOST")
DB_NAME = os.getenv("POSTGRES_DB")
PATH_ROOT=os.getenv("PATH_ROOT")
    
engine = create_engine(f"postgresql+psycopg2://{USER}:{PASSWORD}@{HOST}:{PORT}/{DB_NAME}")

print(f"postgresql+psycopg2://{USER}:{PASSWORD}@{HOST}:{PORT}/{DB_NAME}")

postgresql+psycopg2://soccer_stats:p0o9i8u7@postgres:5432/db_soccerstats

In [3]:
from sqlalchemy import text

with engine.connect() as conn:
    result = conn.execute(text("""
        SELECT table_schema, table_name
        FROM information_schema.tables
        WHERE table_schema = 'silver'
          AND table_name = 'cartola_lh';
    """))
    rows = result.fetchall()

if rows:
    print(" Tabela silver.cartola_lh encontrada:", rows)
else:
    print(" Tabela silver.cartola_lh N√ÉO encontrada")

 Tabela silver.cartola_lh encontrada: [('silver', 'cartola_lh')]

In [4]:
from sqlalchemy import text

with engine.begin() as conn:
    conn.execute(text("CREATE SCHEMA IF NOT EXISTS gold;"))

In [5]:
from sqlalchemy import text

ddl_dim_atl = """
DROP TABLE IF EXISTS gold.dim_atl CASCADE;

CREATE TABLE gold.dim_atl (
    srk_atl      BIGSERIAL PRIMARY KEY,
    atl_idn      BIGINT,
    atl_ape      TEXT,
    atl_pid      BIGINT,
    atl_pos      TEXT
);

INSERT INTO gold.dim_atl (atl_idn, atl_ape, atl_pid, atl_pos)
SELECT DISTINCT
    atleta_id,
    atleta_apelido,
    atleta_posicao_id,
    atleta_posicao
FROM silver.cartola_lh;
"""

with engine.begin() as conn:
    conn.execute(text(ddl_dim_atl))

print("gold.dim_atl criada/populada")

gold.dim_atl criada/populada

In [6]:
ddl_dim_clb = """
DROP TABLE IF EXISTS gold.dim_clb CASCADE;

CREATE TABLE gold.dim_clb (
    srk_clb   BIGSERIAL PRIMARY KEY,
    clb_idn   BIGINT,
    clb_nme   TEXT,
    clb_abv   TEXT,
    clb_slg   TEXT
);

INSERT INTO gold.dim_clb (clb_idn, clb_nme, clb_abv, clb_slg)
SELECT DISTINCT
    clube_id,
    clube_nome,
    clube_abreviacao,
    clube_slug
FROM silver.cartola_lh;
"""

with engine.begin() as conn:
    conn.execute(text(ddl_dim_clb))

print("gold.dim_clb criada/populada")

gold.dim_clb criada/populada

In [7]:
ddl_dim_par = """
DROP TABLE IF EXISTS gold.dim_par CASCADE;

CREATE TABLE gold.dim_par (
    srk_par   BIGSERIAL PRIMARY KEY,
    par_idn   BIGINT,
    par_tmp   INTEGER,
    par_rod   BIGINT,
    par_cid   BIGINT,
    par_cnm   TEXT,
    par_vid   BIGINT,
    par_vnm   TEXT,
    par_plm   DOUBLE PRECISION,
    par_plv   DOUBLE PRECISION
);

INSERT INTO gold.dim_par (
    par_idn,
    par_tmp,
    par_rod,
    par_cid,
    par_cnm,
    par_vid,
    par_vnm,
    par_plm,
    par_plv
)
SELECT DISTINCT
    partida_id,
    temporada,
    partida_rodada,
    partida_clube_casa_id,
    partida_clube_mandante_nome,
    partida_clube_visitante_id,
    partida_clube_visitante_nome,
    partida_placar_mandante,
    partida_placar_visitante
FROM silver.cartola_lh;
"""

with engine.begin() as conn:
    conn.execute(text(ddl_dim_par))

print("gold.dim_par criada/populada")

gold.dim_par criada/populada

In [8]:
ddl_fato = """
DROP TABLE IF EXISTS gold.fat_fcp CASCADE;

CREATE TABLE gold.fat_fcp (
    srk_fcp   BIGSERIAL PRIMARY KEY,
    srk_atl   BIGINT NOT NULL,
    srk_clb   BIGINT,
    srk_par   BIGINT NOT NULL,
    fcp_tmp   INTEGER,
    fcp_caf   TEXT,

    fcp_med   DOUBLE PRECISION,
    fcp_prc   DOUBLE PRECISION,
    fcp_pts   DOUBLE PRECISION,
    fcp_var   DOUBLE PRECISION,

    fcp_pfs   BIGINT,
    fcp_ppe   BIGINT,
    fcp_pas   BIGINT,
    fcp_pft   BIGINT,
    fcp_pfd   BIGINT,
    fcp_pff   BIGINT,
    fcp_pgl   BIGINT,
    fcp_pim   BIGINT,
    fcp_ppp   BIGINT,
    fcp_prb   BIGINT,
    fcp_pfc   BIGINT,
    fcp_pgc   BIGINT,
    fcp_pca   BIGINT,
    fcp_pcv   BIGINT,
    fcp_png   BIGINT,
    fcp_pdd   BIGINT,
    fcp_pdp   BIGINT,
    fcp_pgs   BIGINT
);

INSERT INTO gold.fat_fcp (
    srk_atl,
    srk_clb,
    srk_par,
    fcp_tmp,
    fcp_caf,
    fcp_med,
    fcp_prc,
    fcp_pts,
    fcp_var,
    fcp_pfs,
    fcp_ppe,
    fcp_pas,
    fcp_pft,
    fcp_pfd,
    fcp_pff,
    fcp_pgl,
    fcp_pim,
    fcp_ppp,
    fcp_prb,
    fcp_pfc,
    fcp_pgc,
    fcp_pca,
    fcp_pcv,
    fcp_png,
    fcp_pdd,
    fcp_pdp,
    fcp_pgs
)
SELECT
    da.srk_atl,
    dc.srk_clb,
    dp.srk_par,
    s.temporada,
    s.as_partida_casa_fora,
    s.scout_media_num,
    s.scout_preco_num,
    s.scout_pontos_num,
    s.scout_variacao_num,
    s.scout_ponto_por_falta_sofrida,
    s.scout_ponto_por_passe_errado,
    s.scout_ponto_por_assistencia,
    s.scout_ponto_por_finalizacao_na_trave,
    s.scout_ponto_por_finalizacao_defendida,
    s.scout_ponto_por_finalizacao_para_fora,
    s.scout_ponto_por_gol,
    s.scout_ponto_por_impedimento,
    s.scout_ponto_por_penalti_perdido,
    s.scout_ponto_por_roubada_de_bola,
    s.scout_ponto_por_falta_cometida,
    s.scout_ponto_por_gol_contra,
    s.scout_ponto_por_cartao_amarelo,
    s.scout_ponto_por_cartao_vermelho,
    s.scout_ponto_por_nao_sofrer_gol,
    s.scout_ponto_por_defesa_dificil,
    s.scout_ponto_por_defesa_de_penalti,
    s.scout_ponto_por_gol_sofrido
FROM silver.cartola_lh s
JOIN gold.dim_atl  da ON da.atl_idn = s.atleta_id
LEFT JOIN gold.dim_clb   dc ON dc.clb_idn = s.clube_id
JOIN gold.dim_par dp ON dp.par_idn = s.partida_id
                        AND dp.par_tmp = s.temporada;
"""

with engine.begin() as conn:
    conn.execute(text(ddl_fato))

print("gold.fat_fcp criada/populada")

gold.fat_fcp criada/populada